@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --color-background: #bdc0d3;
    --color-sections: #ffffff;
    --color-dark: #2E2D32;
    --color-light: #ececec;
    --color-font-destaque: #b6b6b6;
    --font-default: "Inter", sans-serif;
    --font-special: "Playfair Display", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    background-color: var(--color-background);
    font-size: 1.35rem;
    font-family: var(--font-default);
}

header {
    font-size: 1.15rem;
    background-color: var(--color-sections);
    margin: 1rem 5rem 0 5rem;
    padding: 4rem 4rem 0 4rem;
    border-radius: 1.5rem 1.5rem 0 0;
}

#section_main, #section_skills, footer, #about_me  {
    background-color: var(--color-sections);
    margin: 1rem 5rem;
    padding: 6rem 15rem;
    border-radius: 1.5rem;
}

#section_main {
    margin: 0rem 5rem 1rem 5rem;
    border-radius: 0 0 1.5rem 1.5rem ;
}

#about_me {
    background-color: var(--color-dark)!important;
    color: var(--color-light);
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

.btn_default, .button_menu_projetos {
    padding: 0.6rem 1.8rem;
    border: solid var(--color-light) 0.2rem;
    border-radius: 10rem;
    font-weight: 600;
    display: flex;
    gap: 1rem;
}

.button_menu_projetos {
    background-color: var(--color-dark);
    color: var(--color-light);
    border-color: transparent !important;
}

.btn_default:hover {
    background-color: var(--color-light);
    transition: 0.3s;
}

.button_menu_projetos:hover {
    background-color: var(--color-light); 
    color: var(--color-dark);
    transition: 0.3s;
}


h1.title {
    font-weight: 700;
    font-size: 7rem;
    padding: 2rem;
    line-height: 6.3rem;
}

.title strong {
    grid-area: front_end;
    font-family: var(--font-special);
    font-weight: 200;
    font-style: italic;
    font-size: 6rem;
    color: var(--color-font-destaque);
}

#start {
    display: grid;
    grid-template-areas:
    "front_end profile profile"
    "paragrafo profile profile"
    "links profile profile";
    align-items: center;
    padding-bottom: 5rem;
}

#paragrafo {
    grid-area: paragrafo;
    max-width: 50rem;
    line-height: 2rem;
    padding-top: 5rem;
}

#links {
    grid-area: links;
    display: flex;
    gap: 0.6rem;
    padding-top: 5rem;
}

a img {
    width: 1.5rem;
    height: 1.5rem;
}

#profile {
    grid-area: profile;
    display: flex;
    justify-content: end;
}

#profile img{
    border-radius: 100%;
    width: 30%;
}

h3 span {
    font-weight: 700;
    padding-top: 5rem;
    font-size: 3rem;
    line-height: 6.3rem;
}

h3 strong {
    grid-area: front_end;
    font-family: var(--font-special);
    font-weight: 200;
    font-style: italic;
    font-size: 3rem;
    color: var(--color-font-destaque);
}

#proj_1, #proj_2, #proj_3 {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

#proj_2 div:last-child {
    padding-left: 3rem;
}

#projects div {
    padding: 1.3rem 0;
}

#projects img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
}

#projects p {
    font-size: 1.3rem;
    color: var(--color-font-destaque);
    padding-top: 0.8rem;
}

h4 {
    font-size: 1.65rem;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
}

#skills span {
    border: 0.2rem solid var(--color-light);
    border-radius: 1.5rem;
    padding: 4rem 5rem;
    width: calc(25% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills span:hover {
    background-color: var(--color-light);
}

#skills img {
    width: 60%;
}
